* {
    box-sizing: border-box;
    font-family: SoDoSans_Bold, Helvetica, sans-serif;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
    font-size: 22px;      
    margin-left: 20px;   
    margin-right: 20px;
    transition: color 0.3s, transform 0.3s; 
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active:hover {
    color: goldenrod;       
    transform: scale(1.1);
    text-decoration: underline goldenrod;
}
.btn1{
    border: none;
    border-radius: 16px;
    margin-right: 60px;
    height: 40px;
}
.btn1:hover{
    background: goldenrod;
}
