// main-banner
.main-banner {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;

  img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }

  .banner-text {
    position: absolute;
    margin-left: 10px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: black;
    animation: scrollDownText 2s ease-out forwards;

    h1 {
      font-size: 60px;
      font-weight: 100;
      margin-bottom: 10px;
      font-family:serif;
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .banner-btn {
      padding: 10px 25px;
      background-color: #928383;
      color: #222;
      font-weight: 600;
      border-radius: 25px;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        background-color: #f7b500;
        color: #fff;
      }
    }
  }
//scrolldown animation using @keyframe
  @keyframes scrollDownText {
    0% {
      transform: translate(-50%, -200%);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  @media (max-width: 480px) {
    height: 240px;

    img {
      height: 240px;
    }

    .banner-text {
      text-align: center;
      h1 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }

      .banner-btn {
        padding: 5px 16px;
      }
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    height: 400px;

    img {
      height: 400px;
    }

    .banner-text {
      h1 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

// banner2
.banner2 {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;

  img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }

  .banner2-text {
    position: absolute;
    top: 8%;
    right: 14%;
    width: 30%;
    color: black;
    text-align: left;

    h2 {
      font-size: 50px;
      font-weight: 200;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
      text-align: justify;
    }

    .yoga-benefits {
      list-style: none;
      padding: 0;

      li {
        font-size: 20px;
        margin-bottom: 10px;
        display: flex;
        color: #222;

        i {
          color: #f7b500;
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    height: 500px;

    img {
      height: 240px;
    }

    .banner2-text {
      top: 0;
      width: 60%;
      right: 4%;
      text-align: left;

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }

      .yoga-benefits {
        translate: -20%;

        li {
          font-size: 14px;

          i {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    height: 540px;

    img {
      height: 540px;
    }

    .banner2-text {
      top: 2%;
      width: 40%;
      right: 4%;
      text-align: left;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }

      .yoga-benefits {
        li {
          font-size: 16px;

          i {
            font-size: 18px;
          }
        }
      }
    }
  }
}