.card {
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

@media (max-width: 480px) {
    .card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .card .text {
        width: 100%;
        height: 150px;
    }
    .card .text h3 {
        font-size: 10px;
    }
    .card .text p {
        font-size: 8px; 
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .card img {
        height: 200px;
    }
    .card .text h3 {
        font-size: 16px;
    }
    .card .text p {
        font-size: 13px;
    }
}
