* {
    box-sizing: border-box;
    font-family: SoDoSans_Bold, Helvetica, sans-serif;
}

/* navbar */
.custom-navbar {
    height: 80px;
    background: rgb(227, 227, 223);
}

.navbar-brand {
    margin-left: 40px;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    transition: color 0.3s, transform 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active:hover {
    color: rgb(45, 45, 40);
    transform: scale(1.1);
    text-decoration: underline rgb(41, 41, 38);
}

.btn1 {
    border: none;
    border-radius: 16px;
    margin-right: 60px;
    height: 40px;
}

.btn1:hover {
    background: rgb(132, 130, 128);
}
body {
    padding-top: 80px;
}
@media (max-width: 480px){
    .offcanvas-body{
        background: white;
    }
    .btn1{
        display: block;
        margin: 15px auto;
        width: 60%;
        background: rgb(227, 227, 223);
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .offcanvas-body{
        background: white;
    }
    .btn1{
        display: block;
        margin: 15px auto;
        width: 60%;
        background: rgb(227, 227, 223);
    }
}


/* footer */
.footer {
    background-color: #2a2f2d;
    color: #fff;
    padding: 20px 20px;
    margin-top: auto;
}

.footer h5 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color 0.3s;
    font-size: 14px;
}

.footer ul li a:hover {
    color: #4b90da;
    ;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    margin-top: 30px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.social-icons a {
    color: white;
    font-size: 40px;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #4b90da;
}

.app-badges img {
    height: 30px;
    margin-bottom: 2px;
}

/* form */
.contact-form {
    display: flex;
    height: 800px;
}

iframe {
    width: 50%;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-section {
    width: 50%;
    padding: 40px;
}

#contact-form label {
    font-size: 20px;
    font-weight: bold;
}

#contact-form input,
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#contact-form textarea {
    height: 100px;
}

#contact-form button {
    width: 80%;
    background: #1a1a80;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#contact-form button:hover {
    background: #2d2dbc;
}

.error {
    color: red;
    font-size: 14px;
}

/* breadcrumb */
.breadcrumb-section {
    position: relative;
    text-align: center;
}

.breadcrumb-section img {
    width: 100%;
    height: 400px;
}

.breadcrumb-section .breadcrumb {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}
#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 60%;
  background-color: rgb(76, 73, 73);
  color: white;
  display: none;
}
@media (max-width: 480px) {
    iframe {
        width: 90%;
        height: 90%;
        padding: 10px;
    }

    .contact-form {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .form-section {
        width: 90%;
        padding: 20px;
    }

    #contact-form input,
    #contact-form textarea,
    #contact-form button {
        width: 100%;
    }

    .breadcrumb-section img {
        width:100%;
        height: 200px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    iframe {
        width: 80%;
        height: 80%;
        padding: 20px;
    }

    .contact-form {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .form-section {
        width: 80%;
        padding: 30px;
    }

    #contact-form input,
    #contact-form textarea,
    #contact-form button {
        width: 100%;
    }
}